{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/tools.namespace {:mvn/version "1.3.0"}
  rhizome/rhizome {:mvn/version "0.2.9"}}

 :tools/usage
 {:ns-default hiera.main}}
